python-dotenv==1.0.1
groq==0.29.0
AppOpener==1.7
pywhatkit==5.4
beautifulsoup4==4.13.0
pillow==10.4.0
rich==14.0.0
requests==2.32.4
keyboard==0.13.5
cohere==5.13.2          # works fine on Python 3.10
googlesearch-python==1.3.0
selenium==4.27.1
mtranslate==1.8
pygame==2.6.1
edge-tts==7.0.2
PyQt5==5.15.9
webdriver-manager==4.0.2
